<div id="content">
    <div align="center">
        <h1>Website under maintenance</h1>
        <p>Check back  <a href="@ViewData["DomainUrl"]">@ViewData["DomainName"]</a> in a minute - @ViewData["ErroCode"] </p>
    </div>
</div>
